/* global sett */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
    max-width: 1520px;
    width: 100%;
    margin: auto;
}

/*================================================================================
                                            HEADER
=================================================================================*/

.sup__header{
    background: #f5f5f5;
    background: none;
}